* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #242424;
    .App {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 2em;
        text-align: center;
        hr {
            width: 30%;
            &:first-of-type {
                width: 100%;
            }
        }
        .block {
            // margin-top: 1vh;
            margin-bottom: 2vh;
            u {
                text-decoration: 2px underline;
            }
            .cd {
                font-weight: bold;
                font-size: 3em;
            }
            p:last-child {
                font-size: 1.25em;
            }
        }
    }
}
.firstcap {
    text-transform:capitalize;
}

.today {
    font-size: 2em;
    font-family: serif;
}

$dayoftheweekandcolor: (
        "monday": yellow
        , "tuesday": pink
        , "wednesday": green
        , "thursday": orange
        , "friday": cyan
        , "saturday": purple
        , "sunday": red
        );

@each $dayoftheweek, $color in $dayoftheweekandcolor {
  .#{$dayoftheweek} {
    color: $color;
    text-decoration: 2px underline $color;
  }
}